        *{ 
        margin:0px;
        }
        header{
        width:100%;
        height:145px;
        background-color:#333333;
        position:absolute;
        }
        .menu45{
        display:none;
        }
        .continer{
        margin-left:430px;
        margin-top:70px;
        position:relative;
        }
        .menu a{
        text-decoration:none;
        background-color:#fff;
        font-size:30px;
        padding:10px;
        color:#7aa4ff;
        }
        .menu a:hover{
        color:#ff7105;
        background-color:#000;  
        }
        .continer li{
        list-style-type:none;
        display:inline;
        margin:30px;
        }
        footer{
        background-color:#333333;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 145px;
        }
        .nav{
        background-color:#7aa4ff;
        width:1177px;
        height:360px;
        position:absolute;
        margin-top:145px;
        }
        @media(max-width:600px){
        }
        }
