 *{ 
        margin:0px;
        }
        header{
        width:100%;
        height: 25%;
        background-color:#333333;
        position: absolute;
        top: 0;
        }      
        .menu45{
        display:none;
        }
        .continer{
        margin-left:430px;
        margin-top:70px;
        position:relative;
        }
        .menu a{
        text-decoration:none;
        background-color:#fff;
        font-size:30px;
        padding:10px;
        color:#7aa4ff;
        }
        .menu a:hover{
        color:#ff7105;
        background-color:#000;
        transition:2s; 
        }
        .continer li{
        list-style-type:none;
        display:inline;
        margin:30px;
        }
        .nav{
        background-color:#7aa4ff;
        width:100%;
        height:500px;
        }
        footer{
        background-color:#333333;
        height: 25%;
        width: 100%;
        position:absolute;
        bottom: 0;
        }
        @media(max-width:450px){
        .nav{
        width:432px;
        }
        .continer{
        margin-left:5px;
        }
        .continer li{
        margin:10px;
        }
        }
        max-height: 650px {
        .nav {
        height: 550px;
        }
        }
        max-height: 540px {
        .nav {
        height: 300px;
        }
        }
