 *{ 
        margin:0px;
        }
        header{
        width:100%;
        height:145px;
        background-color:#333333;
        position:absolute;
        }
        .menu45{
        display:none;
        }
        .continer{
        margin-left:430px;
        margin-top:70px;
        position:relative;
        }
        .menu a{
        text-decoration:none;
        background-color:#fff;
        font-size:30px;
        padding:10px;
        color:#7aa4ff;

        }
        .menu a:hover{
        color:#ff7105;
        background-color:#000;
        transition:2s; 
        }
        .continer li{
        list-style-type:none;
        display:inline;
        margin:30px;
        }
        footer{
        background-color:#333333;
        position: absolute;
        margin-bottom: 0px;
        width: 100%;
        height: 145px;
        }
        .nav{
        background-color:#7aa4ff;
        width:1239px;
        height:360px;
        position:absolute;
        margin-top:145px;
        }
        @media(max-height:2000px){
        .nav{
        height:1000px;
        }
        }
        @media(min-width:401px) and (max-width:720px){
        .nav{
        width:720px;
        height:310px;
        }
        header{
        width:720px;
        }
        footer{
        width:720px;
        margin-bottom:0px;
        }
        .continer{
        margin-left:5px;
        }
        .continer li{
        margin:30px;
        }
        }
        @media(min-width:721px) and (max-width:1200px){
        header{
        width:1239px;
        }
        .continer{
        margin-left:180px;
        }
        .nav{
        height:293px;
        }
        footer{
        width:1239px;
        }
        }
        @media(min-width:1201px) and (max-width:1230px){
        .nav{
        height:310px;
        width:1230px;
        }
        }
