        *{ 
        margin:0px;
        }
        header{
        width:100%;
        height:145px;
        background-color:#333333;
        position:absolute;
        }
        .menu45{
        display:none;
        }
        .continer{
        margin-left:430px;
        margin-top:70px;
        position:relative;
        }
        .menu a{
        text-decoration:none;
        background-color:#fff;
        font-size:30px;
        padding:10px;
        color:#7aa4ff;

        }
        .menu a:hover{
        color:#ff7105;
        background-color:#000;
        transition:2s; 
        }
        .continer li{
        list-style-type:none;
        display:inline;
        margin:30px;
        }
        footer{
        background-color:#333333;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 145px;
        }
        .nav{
        background-color:#7aa4ff;
        width:1239px;
        height:360px;
        position:absolute;
        margin-top:145px;
        }
        @media(max-width:450px){
        .nav{
        height:310px;
        width:449px;
        }
        footer{
        width:449px;
        }
        .continer{
        margin-left:5px;       
        }
        .continer li{
        margin:10px;
        }
        header{
        width:449px;
        }
        }
        @media(min-width:451px) and (max-width:600px){
        .nav{
        width:599px;
        height:310px;
        }
        header{
        width:599px;
        }
        footer{
        width:599px;
        }
        .continer{
        margin-left:5px;
        }
        .continer li{
        margin:30px;
        }
        }
        @media(min-width:601px) and (max-width:1200px){
        header{
        width:1239px;
        }
        .continer{
        margin-left:180px;
        }
        .nav{
        height:293px;
        }
        footer{
        width:1239px;
        }
        }
